{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
  <title>
    {% block title %}
      Anime India - India's premiere forum
    {% endblock title %}
  </title>

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
  <link rel="stylesheet" href="{% static 'css/Login-Form-Clean.css' %}" />
  <link rel="stylesheet" href="{% static 'css/Registration-Form-with-Photo.css' %}" />
  <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
  <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/style.compiled.css' %}" />
  <link rel="icon" href="{% static 'img/favicon.png' %}" type="image/gif" sizes="16x16">

</head>

<body style="background: #e5c9f5">
  {% include './navbar.html' %}
  <img src="{% static 'img/banner.jpg'%}" alt="anime-banner" class='img-fluid'>
  <div class="container">
    {% block content %}
    {% endblock content %}
  </div>
  {% include './footer.html' %}
  <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  {% block js %}
  {% endblock js %}
</body>

</html>