{% extends '../common/base.html' %}
{% block content %}
<div class="bg-light mt-3 p-3">
  <h4 class="font-weight-bold headings text-primary mt-3 mb-4">Edit Reply :</h4>
  <form method='post'>
    {% csrf_token %}
    {% for errors in form.non_field_errors  %}
    <div class='alert alert-warning'>
      {{errors}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
    
    {{form.media}}
    <div class="form-group">
      <label style="font-size: 16px;" class='d-block'>Content:</label>
      {% for error in form.content.errors  %}
      <div class='alert alert-warning mb-0'>{{error}}</div>
      {% endfor %}
      {{form.content}}
    </div>
    <button class="btn btn-success btn-lg mb-3" type="submit">Submit</button>
  </form>
</div>
{% endblock content %}